body {
  font-family: 'Inter UI', sans-serif;
  color: #2E475D;
  text-align: center;
}

/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#                 General
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/

button{
  font-weight: 600;
}

.centered-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 600%;
  left: 50%;
  transform: translateX(-50%);
  width: 1500px;

  text-align: center;
  margin-top: 20px;
}

.panel {
  position: absolute;
  background-color: #ffffff;
  color: #000000;

  height: auto;
  width: auto;

  min-height: 50px;
  min-width: 300px;
  text-align: left;

  border-radius: 10px;
  padding: 10px;
}

input::-moz-focus-inner { 
  border: 0; 
}

.label-error
{
  text-align: center;
  color: #ff0000;
  font-weight: bold;
}





/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#              Main page
#                Login
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/

.login-panel {
  top: 0;
  right: 0;
  border: 5px solid #7464bc;
}

.button-login {
  position: relative;
  left: 25%;
  border: 0;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: #6855e0;
  background-color: #ffffff;
  border: 1px solid rgba(104, 85, 224, 1);
  width: 50%;
}

.button-login:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: #6855e0;
}

.label-login
{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.login-label-label {
  font-weight: bold;
  display: block;
}
.login-label-input {
  font-size: 20px;
  height: 30px;
}





/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#              Home page
#           Account creation
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/
.create-panel {
  top: 0;
  left: 0;
  border: 5px solid #43ac29;
}


.button-create {
  position: relative;
  left: 25%;
  border: 0;
  border-radius: 4px;

  padding: 10px 0;
  box-shadow: 0 0 20px rgba(20, 97, 17, 0.2);
  transition: 0.4s;
  color: #43ac29;
  background-color: #ffffff;
  border: 1px solid rgba(67, 172, 41, 1);
  width: 50%;
}

.button-create:hover {
  color: white;
  box-shadow: 0 0 20px rgba(34, 97, 39, 0.6);
  background-color: #43ac29;
}





/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#              Home page
#            Result buttons
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/
.glow-button {
  position: absolute;
  display: inline-block;
  top:80%;
	width: 200px;
	height: 100px;
	cursor: pointer;
	background: #ffffff;
	border: none;
	border-radius: 10px;
	transition: 2s;
  border: 10px solid #6dd6d1;
  filter: hue-rotate(0);
	animation: hue linear 2s infinite;
  margin: 0 10px;
}

.button-nb-votes
{
  left:56%;
}

.button-votes
{
  right:56%;
}

@keyframes hue {
	to {
		filter: hue-rotate(1turn);
	}
}

.label-votes
{
  position: absolute;
  transform: translateX(-50%) translateY(700%);
  width:400px;
}
.label-nb-votes
{
  position: absolute;
  transform: translateX(63%) translateY(700%);
  width:300px;
}





/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#              Voting page
#                Images
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/

.image-container {
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%
}
.image
{
  border-radius: 10%;
  width: 200px;
  height: 200px;
}





/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#              Voting page
#                Labels
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/

.text-container {
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
}
.text-candidate
{
  width: 200px;
  font-weight: bold;
}





/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#              Voting page
#                Buttons
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/

.button-container {
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;
  width: 98%;
}

.button-candidate {

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  background-color: transparent;
  height: 48px;
}

.button-candidate:hover
{
  color: #fff;
  background-color: #616467;
}

.button-0 {
  box-shadow: inset 0 0 0 2px #006400;
  color: #006400
}
.button-0:hover {
  background-color: #006400;
}

.button-1 {
  box-shadow: inset 0 0 0 2px #4169E1;
  color: #4169E1
}
.button-1:hover {
  background-color: #4169E1;
}

.button-2 {
  box-shadow: inset 0 0 0 2px #FF7F50;
  color: #FF7F50
}
.button-2:hover {
  background-color: #FF7F50;
}

.button-3 {
  box-shadow: inset 0 0 0 2px #4B0082;
  color: #4B0082
}
.button-3:hover {
  background-color: #4B0082;
}

.button-4 {
  box-shadow: inset 0 0 0 2px #FFD700;
  color: #FFD700
}
.button-4:hover {
  background-color: #FFD700;
}





/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#              Voting page
#            Next / Previous
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/
.page-text {
  position: absolute;
  top: -10%;
}

.swipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-before,
.button-after {
  width: 150px;
  height: 40px;
  background-color: transparent;

  font-size: 1.4em;
  font-weight: 600;


  border-width: 5px;
  border-image: linear-gradient(135deg, #008aff, #86d472) 1;
  cursor: pointer;
  transition: all 0.4s ease;
}
.button-before:hover,
.button-after:hover {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  color: #fff;
  border-image: linear-gradient(135deg, #008aff, #86d472) 1;
}