body {
  font-family: 'Inter UI', sans-serif;
  color: #2E475D;
  text-align: center;
}

/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#                 Panels
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/

.button-panel {
  position: absolute;
  top: 800%;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  margin-top: 20px;
}

.login-panel {
  top: 0;
  right: 0;

  border: 5px solid #7464bc;
}

.create-panel {
  top: 0;
  left: 0;
  
  border: 5px solid #43ac29;
}

.panel {
  position: absolute;
  background-color: #ffffff;
  color: #000000;

  height: auto;
  width: auto;

  min-height: 50px;
  min-width: 300px;
  text-align: left;

  border-radius: 10px;
  padding: 10px;
}


/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#                 Labels
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/

.label-login
{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.login-label-label {
  font-weight: bold;
  display: block;
}
.login-label-input {
  font-size: 20px;
  height: 30px;
}
input::-moz-focus-inner { 
  border: 0; 
}

.label-error
{
  text-align: center;
  color: #ff0000;
  font-weight: bold;
}

.label-votes
{
  position: absolute;
  transform: translateX(-95%) translateY(700%);
  width:250px;
}
.label-nb-votes
{
  position: absolute;
  transform: translateY(700%);
  width:250px;
}




/*
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
#
#                 Buttons
#
# _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/


button{
  font-weight: 600;
}


.button-login {
  position: relative;
  left: 25%;
  border: 0;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: #6855e0;
  background-color: #ffffff;
  border: 1px solid rgba(104, 85, 224, 1);
  width: 50%;
}

.button-login:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: #6855e0;
}


.button-create {
  position: relative;
  left: 25%;
  border: 0;
  border-radius: 4px;

  padding: 10px 0;
  box-shadow: 0 0 20px rgba(20, 97, 17, 0.2);
  transition: 0.4s;
  color: #43ac29;
  background-color: #ffffff;
  border: 1px solid rgba(67, 172, 41, 1);
  width: 50%;
}

.button-create:hover {
  color: white;
  box-shadow: 0 0 20px rgba(34, 97, 39, 0.6);
  background-color: #43ac29;
}



.glow-button {
  position: absolute;
  display: inline-block;
  font-size: large;
	width: 200px;
	height: 100px;
	cursor: pointer;
	background: #ffffff;
	border: none;
	border-radius: 10px;
	transition: 2s;
  border: 10px solid #6dd6d1;
  filter: hue-rotate(0);
	animation: hue linear 2s infinite;
  margin: 0 10px;
}

.button-nb-votes
{
  left:200%;
}

.button-votes
{
  right:100%;
}

@keyframes hue {
	to {
		filter: hue-rotate(1turn);
	}
}
